*.o
*.ko
module/modules.order
module/Module.symvers
module/econet-gpio.mod
module/econet-gpio.mod.c
module/.*
utilities/econet-bridge
utilities/econet-imm
utilities/econet-monitor
utilities/econet-test
utilities/econet-ipgw
utilities/econet-notify
utilities/pipe-eg
utilities/econet-clock
utilities/econet-fslist
utilities/econet-ledtest
utilities/econet-remote
